html, body, #root {
	height: 100%;
}

body {
	margin: 0;
	font-family: $sans-serif-font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

p {
	margin-bottom: 0px;
}

.page-container {
	background-color: $primary-color;
	border-top-right-radius: 30px;

	height: 100%;
	width: auto;
	margin-top: 50px;
  margin-left: 0;
  margin-right: 15px;
	padding-top: 30px;
}

.page-title {
	font-family: $serif-font;
	font-weight: 800;
	font-size: 30px;
	color: $title-color;
	margin-bottom: 20px;
}

.user-avatar {
	border-radius: 100%;
}

.user-login {
	align-self: center;
}

.user-stats {
	text-align: center;
	margin-top: 20px;
}

.search-form {
	margin-bottom: 40px;
}

.search-btn {
	width: 95px;
}

.search-result {
  background-color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  margin-left: -15px;
  padding:0px;

  overflow-y: scroll;
  height: 75%;
}

.user-info {
  display: flex;
  flex-flow: column;
  height: 100%;

  background-color: $accent-color;
  border-top-left-radius: 30px;

  margin-right: -30px;
  padding-top: 30px;

  h3, h4 {
    margin: 0px;
    font-weight: 800;
  }
}